<form [formGroup]="weatherInfo" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Region</mat-label>
    <mat-select formControlName="region" required>
      <mat-option value="0">Select</mat-option>
      <mat-option *ngFor="let name of namesRegions; index as i" [value]="i + 1">
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Estado del clima</p>
  <mat-radio-group formControlName="weather" required>
    <mat-radio-button value="soleado">soleado</mat-radio-button>
    <mat-radio-button value="lluvioso">lluvioso</mat-radio-button>
    <mat-radio-button value="nublado">nublado</mat-radio-button>
    <mat-radio-button value="tormenta">tormenta</mat-radio-button>
  </mat-radio-group>

  <label for="day">Dia</label>
  <mat-form-field appearance="fill">
    <mat-label>Dia</mat-label>
    <mat-select formControlName="day" required>
      <mat-option value="0">Select</mat-option>
      <mat-option *ngFor="let day of namesDays; index as i" [value]="day">
        {{ day }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Temperatura</mat-label>
    <input type="number" matInput placeholder="10" formControlName="temperature" required>
  </mat-form-field>

  <p>Grados</p>
  <mat-radio-group formControlName="degrees" required>
    <mat-radio-button value="1">Celsius</mat-radio-button>
    <mat-radio-button value="2">Farenheit</mat-radio-button>
  </mat-radio-group>

  <button>Actualizar</button>
</form>