<mat-tab-group (selectedTabChange)="changeScale($event)">
  <mat-tab label="Celsius"></mat-tab>
  <mat-tab label="Farenheit"></mat-tab>
</mat-tab-group>

<div
  *ngFor="let day of region.week"
  class="day-card"
  routerLink="/update-info"
  routerLinkActive="active"
>
  <span>{{ day.display }}</span>
  <span>Foto</span>
  <span>{{ showCelsius ? day.tempCelsius : day.tempFarenheit }} º</span>
  <span>{{ day.weather }}</span>
</div>

<span>Al dar click sobre cada dia permitira actualizar la informacion</span>