:host {

  display: flex;
  flex-direction: column;

  .info-wrapper {
    display: flex;
  }

  .tabs-scales {
    margin-left: auto;
  }

  .week-container {
    display: flex;
  }

  .day-card {
    width: 100px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .icon-weather {
      width: 100%;
    }
  }

  .info {
    margin: 50px 20px 0px;
    width: 350px;
    font-size: 20px;
  }

  ::ng-deep .mat-tab-label-active {
    color: red;
  }

  ::ng-deep .mat-ink-bar {
    display: none;
  }
}